<center>
<div class="jumbotron">
	

<h1> Welcome to McClatchy Wrestling! </h1>
<body>
	<p> Home of the Lions! </p>
	<p> Sign up <%= link_to "Here", "#", class: "btn btn-primary" %>

</div><class: "btn btn-primary" %>
</center>